html {
			overflow:hidden;
		}
		body {
			font-weight:300 !important;
			margin:0;
			padding:0;
			position:absolute;
			overflow:hidden;
			width:100%;
			height:100%;
		}
		#mapContainer {
			width:70%;
			height:100%;
			left:0;
			top:0;
			padding:0px!important;
			text-shadow:none;
		}
		#mapDetails {
			position:absolute;
			width:30%;
			height:100%;
			right:0;
			top:0;
			margin-top:0;
			padding:0 !important;
			text-shadow:none;
			background:#ffffff !important;
			border-left:1px solid #000000 !important;
			overflow-y:scroll;
		}
		#mapDetailsDiv {
			margin:3.5em 0 3.5em 0;
			padding:1em;
		}
		.ui-header {
			background:#ffffff !important;
			border-bottom:1px solid #000000 !important;
		}
		.segmented-control { text-align:center; }
		.segmented-control .ui-controlgroup { display:inline; margin:.2em 0px; }
		.chart { display:inline;padding:0.5em 0.75em 0 0.75em; }
		.chart div { background-repeat:no-repeat;background-position:15px 15px;background-size:70px 70px; }
		.chartAT div { background-image:url('images/at.png'); }
		.chartCH div { background-image:url('images/ch.png'); }
		.chartDE div { background-image:url('images/de.png'); }
		#chart1 {padding:0 0 2.5em 0; }
		.circles-text span { font-size:0.5em;position:absolute;top:107px;left:0;width:100px;line-height:normal; }
		.circles-wrp { height:140px; }

		#pageMap { width:100%; height:100%; }
		#dataList {
			margin:1em -1em 0 -1em;
		}
		.marker-red {
			color:#f03b20;
			font-size:1.5em;
			padding-right:0.2em;
		}
		.marker-yellow {
			color:#e1c64b;
			font-size:1.5em;
			padding-right:0.2em;
		}
		.marker-green {
			color:#31a354;
			font-size:1.5em;
			padding-right:0.2em;
		}
		.marker-white {
			color:#d0d0d0;
			font-size:1.5em;
			padding-right:0.2em;
		}
		#dataInfo {
			border-top:1px solid #000000 !important;
			margin:1em -1em 0 -1em;
			padding:1em 1em 0 1em;
		}
		#headSlotCfB {
			float:left;
		}
		#headSlotCfB img {
			height:2.5em;
			padding: .3em 0 .3em 1em;
		}
		#headSlotTitle {
			float:left;
			font-size:2em;
			font-weight:100 !important;
			padding:0.3em 0 0 1em;
		}
		#headSlotButtons {
			float:right;
			margin:0.5em 1em 0.5em 0;
		}
		#headSlotDonut {
			float:right;
			margin:0;
			display:none;
		}
@media only screen and (max-width:768px) and (min-width:480px) {
		#headSlotCfB img {
			height:2.5em;
		}
		#headSlotTitle {
			font-size:1.5em;
			padding:0.3em 0 0 0;
		}
		#headSlotButtons {
			margin:0.3em 0.7em 0.3em 0;
		}
		#headSlotButtons .ui-btn {
			font-size:0.7em;
		}
}
@media only screen and (max-width:480px) and (min-width:370px) {
		#headSlotCfB img {
			height:2.5em;
		}
		#headSlotTitle {
			font-size:1.5em;
			padding:0.3em 0 0 0;
		}
		#headSlotButtons {
			display:none;
		}
		#headSlotDonut {
			margin:0 0.7em 0 0;
			display:block;
		}
		#headSlotDonut .ui-btn {
			font-size:0.7em;
		}
}
@media only screen and (max-width:370px) {
		#headSlotCfB {
			display:none;
		}
		#headSlotTitle {
			font-size:1.5em;
			padding:0.3em 0 0 0.3em;
		}
		#headSlotButtons {
			display:none;
		}
		#headSlotDonut {
			margin:0 0.7em 0 0;
			display:block;
		}
		#headSlotDonut .ui-btn {
			font-size:0.7em;
		}
}
@media only screen and (max-width:768px) {
		#mapContainer {
			width:100%;
			height:50%;
			margin-top:-1.5em;
		}
		#mapDetails {
			width:100%;
			height:50%;
			left:0;
			top:50%;
			border-left:none !important;
			border-top:1px solid #000000 !important;
		}
		#mapDetailsDiv {
			margin:0 0 3.5em 0;
			padding:1em;
		}
}